body {
    color: #282425;
    background-color: #EEA5A6;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: 1.5;
}

h1,
h2,
h3,
a {
    color: #8E7AB5;
}

h1,
h2,
h3 {
    font-family: 'Playfair Display', serif;
    font-style: italic; 
}

h1 {
    font-size: 80px;
    text-align: center;
    
}

h2 {
    font-size: 48px;
    text-align: center;
    background-color: #B784B7;
}

h3 {
    font-size: 24px;
    font
}

a {
    font-style: italic;
}

.vzdelani {
    
}

.kontakt {
    
}

.paticka {
    background-color: #8E7AB5;
    color: white;
    text-align: center;
}

/*
font-family: 'Raleway', sans-serif;
font-family: 'Playfair Display', serif;
*/

